{% extends 'app/base.html' %}

{% block content %}
<div class="w3-container" style="margin-top:100px;margin-left:auto;margin-right:auto;">
    {% for i in items %}
    <div class="w3-round-large w3-padding" style="margin:auto;height:500px;">
      <div class="w3-container">
        <img src="{{ i.image.url }}" style="width:300px;">
        <p class="w3-xlarge">{{ i.prodname }}</p>
        <p>{{ i.name }}<br><b>Rs.{{ i.price }} per quintal</b></p>
        <p>{{ i.location }}</p>
        <a href="tel:{{ i.phonenumber}}" class="w3-button w3-grey">Order Now</a>  
    </div>
    <br>
    {% endfor %}
</div>


{% endblock %}