{% extends 'app/base.html' %}
{% block content %}
{% load qr_code %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.min.js" integrity="sha512-2ziYH4Qk1Cs0McWDB9jfPYzvRgxC8Cj62BUC2fhwrP/sUBkkfjYk3142xTKyuCyGWL4ooW8wWOzMTX86X1xe3Q==" crossorigin="anonymous"></script>
<script>

function genpdf(){
    var pdf = new jsPDF('p', 'pt', 'letter');
 pdf.addHTML($('#testDiv')[0], function () {
     pdf.save('qrcode#12.pdf');
 });
}

</script>


    <div class="w3-container">
        <div class="w3-card-4 w3-padding" style="margin-top:100px;max-width:350px;margin-left:auto;margin-right:auto;">
            <p class="w3-xlarge">Item Dispatch data</p>
            <p>Name: {{data.farmer }}</p>
            <p>
            <p>Driver Name: {{ data.drive.name }} </p>
            <p>Vehicle no: {{ data.drive.truckno}}</p>
            <p>Dispatch Date: {{ data.dispatchtime }}</p>
            <p>Details: {{ data.description }}</p>
            <p>Location: {{data.location }}</p>
            <div class="w3-container" id="testDiv">
            <img src="{% qr_url_from_text text_url size=3 version=10 image_format='png' %}" alt="Hello World!">
            </div>
            <a class="w3-button w3-border" href="javascript: genpdf()">Download QR Code</a>
            </div>

    </div>
{% endblock %}